
  body {
    background-color: #1e5f74;
    width: 80%;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 1px;
    color: white;
  }

  a {
    color: white;
  }

  h1 {
    color: white;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-variant-ligatures: normal;
    font-size: xxx-large;
    letter-spacing: 1px;
  }
  h3 {
    color: white;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-variant-ligatures: normal;
    font-size: xx-large;
    letter-spacing: 1px;
  }
  h4 {
    color: white;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-variant-ligatures: normal;
    font-size: large;
    letter-spacing: 1px;
  }
  h5{
    color: white;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-variant-ligatures: normal;
    font-size: medium;
    letter-spacing: 1px;
  }

  hr {
    background-color: #1e5f74;
    border-width: 10px;
    border-color: white;
    border-style: dotted none none;
    width: 20%

  }


  li {
    color: white;
  }


p {

margin: 0 auto;
font-family: "Helvetica Neue", "Arial", sans-serif;
font-style: italic;
font-weight: 100;
font-variant-ligatures: normal;
font-size: 1rem;
letter-spacing: 1px;
color: white;
}

table {
  color: white
}

ul {
  color: white;
}
